<div id="calculator_result">
  <%% if result %>
    <div class="mt-6">
      <%%= ui_panel do %>
        <h3 class="text-lg font-semibold mb-4">Result</h3>
        <dl class="space-y-2">
          <%% calculator.class.outputs.each do |output| %>
            <div class="flex justify-between">
              <dt class="font-medium"><%%= output.label %>:</dt>
              <dd><%%= calc_kit_format_output(result[output.name], output.type) %></dd>
            </div>
          <%% end %>
        </dl>
      <%% end %>
    </div>
  <%% end %>
</div>
