<%%= ui_page max_width: :lg do %>
  <%%= ui_page_header title: "Calculators" %>

  <%%= ui_grid cols: { default: 1, md: 2, lg: 3 } do %>
    <%% CalcKit.all.each do |calculator_class| %>
      <%%= ui_card_link href: calculator_path(slug: calculator_class.calculator_slug) do %>
        <h2 class="text-lg font-semibold"><%%= calculator_class.calculator_name %></h2>
      <%% end %>
    <%% end %>
  <%% end %>
<%% end %>
