# frozen_string_literal: true

class Calculation < ApplicationRecord
  include Calckit::Model
<% if scope_method -%>

  belongs_to :<%= scope_method.to_s.sub("current_", "") %>, optional: true
<% end -%>
end
